body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border {
    border: 1px dotted blue;
    color: #2b2839;
}

.card {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

    margin: 0 auto;
    padding: 20px;
    width: 400px;

    background: #ddebf8;
    border-radius: 10px;

    border-bottom: 10px solid #d8cefe;
}

.todd-img {
    width: 150px;
}

.card-content {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    width: 210px;
    /*height: 100vh;*/
}
